    <ul>
        <li class = "{{#if active.home}}active{{/if}} home"><a href="home.html">Home</a></li>
        <li class = "{{#if active.resume}}active{{/if}} resume"><a href="resume.html">Resume</a></li>
        <!-- <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li> -->
    </ul>