<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta name = "description" content = "My homepage">
        {{> head}}
    </head>

    {{> header}}
    {{> nav}}

    <body>

        <div id = "content">
            <h2>Introduction</h2>
            <p>Hi, I'm Evan. My current occupation is as an environmental data scientist.</p>
            <p>I have experience writing code to automate the process of compiling, organizing, and analyzing environmental data.</p>
            <p>Check out my resume for more information about my education and experience.</p>
            <h2>Future Plans</h2>
            <p>I'm starting to learn web development because it seems like a great way to organize and present information.</p>
        </div>

    </body>

    {{> footer}}
</html>