<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta name = "description" content = "My homepage">
        {{> head}}
    </head>

    {{> header}}
    {{> nav}}

    <body>

        <div id = "content">
            <p>My Homepage.</p>
        </div>

    </body>

    {{> footer}}
</html>