<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
        <meta name = "description" content = "My resume">
        {{> head}}
    </head>

    {{> header}}
    {{> nav}}

    <body>

        <h1>Education</h1>
        <h2>M.S. Biology</h2>
        <p>May 2018</p>
        <p>University of North Carolina-Wilmington (UNCW), Wilmington, NC</p>
        <p>M.S. Thesis: "Resources Increase Body Size and Respiration Rate in Pitcher Plant Ecosystems"</p>
        <h2>B.A., Environmental Science, <it>cum laude</it></h2>
        <p>May 2013</p>
        <p>Franklin & Marshall College (F&M), Lancaster, PA</p>
        <h1>Experience</h1>
        <h2>Data Scientist</h2>
        <p>Aug 2018 - Present</p>
        <p>Environmetal Reosurces Management, Inc</p>
        <p>Developed scripts in R to compile, manage, and analyze large-scale (> 1 million records) chemical, water, air, and business data to improve data workflows.</p>
        <h2>Environmental Scientist</h2>
        <h1>Research</h1>
        <h2>M.S. Thesis</h2>
        <h1>Skills</h1>
        <h2>Software</h2>
        <h2>Programming Languages</h2>
        <h2>Field</h2>

    </body>

    {{> footer}}
</html>