<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
        <meta name = "description" content = "My resume">
        {{> head}}
    </head>

    {{> header}}
    {{> nav}}

    <body>

        <p>My Resume.</p>

    </body>

    {{> footer}}
</html>